.app {
	height: 100%;
	display: flex;
	flex-direction: column;
}

app-blog-header {
	flex: 0 0 auto;
}

.app-body {
	flex: 1 1 auto;
	position: relative;
	overflow-y: auto;
}

app-blog-footer {
	flex: 0 0 auto;
	height: 10rem;
}